{% extends "site/master.html" %}

{% block content %}

<div class="container">
    <ul class="nav nav-pills mt-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Posts</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Categorias</button>
        </li>
      </ul>
      <hr>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <div class="ajuste justify-content-between align-items-center">
            <h2 style="margin: 0;">Últimas Perguntas</h2>
            <a class="btn btn-success" href="/postar">Criar pergunta</a>
          </div>
          {{ message['message']|message(message['alert'])|raw }}
          <div id="latest-posts"></div>
      </div>
      
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="ajuste justify-content-between align-items-center">
            <h2 style="margin: 0;">Todos os Posts</h2>
            <a class="btn btn-success" href="/postar">Criar pergunta</a>
          </div>
          {{ message['message']|message(message['alert'])|raw }}
          <div id="all-posts"></div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">Categorias</div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script>
        // Passando dados do usuário para o JavaScript
        const user = {{ user|json_encode|raw }};

        document.addEventListener('DOMContentLoaded', function() {
            fetch('/allPosts/json')
            .then(response => response.json())
            .then(posts => {
                const postsContainer = document.getElementById('all-posts');
                posts.forEach(post => {
                    const date = new Date(post.created_at);
            
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                  
                    const formattedDate = `${day}/${month}/${year}`;
                  
                    const postElement = document.createElement('a');
                    postElement.href = `/post/${post.post_id}`;
                    postElement.style.textDecoration = 'none';
                  
                    postElement.innerHTML = `
                        <hr>
                        <h3 style="color: #1B75D0; font-weight: 400;">${post.titulo}</h3>
                        <p style="color: #636B74;">Modificado em: ${formattedDate} por: ${post.nome}</p>
                    `;

                    if (user.perfil.admin == 1 || user.id == post.id_pessoa)
                    {
                      postElement.innerHTML += `<form action="/post/delete/${post.post_id}" method="POST" style="display: inline-block;">
                                                                <input type="hidden" name="_METHOD" value="DELETE">
                                                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
                                                    </form>`;
                    }
                    // Comparar o ID do usuário com o ID da pessoa do post
                    if (user.id == post.id_pessoa) {
                        postElement.innerHTML += `
                                                    <form action="/post/edit/${post.post_id}" method="GET" style="display: inline-block;">
                                                                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-pen-fill"></i></button>
                                                    </form>`;
                    } else {
                        postElement.innerHTML += `<p>Este post foi publicado por outro usuário.</p>`;
                    }

                    postsContainer.appendChild(postElement);
                });
            })
            .catch(error => console.error('Erro ao buscar os posts:', error));
        });

        document.addEventListener('DOMContentLoaded', function() {
            fetch('/posts/json')
            .then(response => response.json())
            .then(posts => {
                const postsContainer = document.getElementById('latest-posts');
                posts.forEach(post => {
                    const date = new Date(post.created_at);
            
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                  
                    const formattedDate = `${day}/${month}/${year}`;
                  
                    const postElement = document.createElement('a');
                    postElement.href = `/post/${post.post_id}`;
                    postElement.style.textDecoration = 'none';
                  
                    postElement.innerHTML = `
                        <hr>
                        <h3 style="color: #1B75D0; font-weight: 400;">${post.titulo}</h3>
                        <p style="color: #636B74;">Modificado em: ${formattedDate} por: ${post.nome}</p>
                    `;

                    if (user.perfil.admin == 1 || user.id == post.id_pessoa)
                    {
                      postElement.innerHTML += `<form action="/post/delete/${post.post_id}" method="POST" style="display: inline-block;">
                                                                <input type="hidden" name="_METHOD" value="DELETE">
                                                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
                                                    </form>`;
                    }
                    // Comparar o ID do usuário com o ID da pessoa do post
                    if (user.id == post.id_pessoa) {
                        postElement.innerHTML += `
                                                    <form action="/post/edit/${post.post_id}" method="GET" style="display: inline-block;">
                                                                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-pen-fill"></i></button>
                                                    </form>`;
                    } else {
                        postElement.innerHTML += `<p>Este post foi publicado por outro usuário.</p>`;
                    }

                    postsContainer.appendChild(postElement);
                });
            })
            .catch(error => console.error('Erro ao buscar os posts:', error));
        });
    </script>
</div>

{% include "site/partials/footer.html" %}
{% endblock %}