{% extends "site/master.html" %}

{% block content %}
    <div class="container">
        <h2>Bem-vindo ao Info Support!</h2>

        <div class="d-flex fd-column js-write-question-notice mb-3 mt-5">
            <div class="w100 mt16">
                <div class="d-flex w100 ai-center mb16 md:mt0">
                    <div class="s-notice s-notice__info p24 w70 lg:w100" style="background-color: #EDF5FD; padding: 6vh; border: 1px solid #86acd4; border-radius: 0.5vh;">
                        <h2 class="fs-title fw-normal mb8">Site da info destinado a responder dúvidas</h2>
                        <p class="fs-body2 mb0">
                           Sinta-se a vontade para perguntar o que quiser, que a comunidade tentará responder da melhor forma.
                        </p>
                        <h5 class="fw-bold mb8">Regras</h5>
                        <ul class="mb0">
                            <li>Não é autorizado xingamentos, ofensas e coisas inapropriadas de qualquer forma</li>
                            <li>Não postar intencionalmente em excesso, prejudicando o site</li>
                            <li>Caso for comentar em um post, escreva somente coisas relacionadas ao post</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}